<header class="header">
    <div class="header-container flex-row flex-align-center">
        <!-- Brand -->
        <div class="header-brand flex-row flex-align-center">
            <h1 class="header-brand__title font-bruno-ace-sc">Tonkeeper Battery</h1>
        </div>

        <!-- Actions -->
        <div class="header-actions flex-row flex-align-center">
            <div class="header-action">
                <a appSmoothScroll="#home" class="header-action__link font-montserrat">Home</a>
            </div>

            <div class="header-action">
                <a appSmoothScroll="#about" class="header-action__link font-montserrat">About us</a>
            </div>

            <div class="header-action">
                <a appSmoothScroll="#benefits" class="header-action__link font-montserrat">Benefits</a>
            </div>

            <div class="header-action">
                <a appSmoothScroll="#features" class="header-action__link font-montserrat">Features</a>
            </div>

            <div class="header-action">
                <a appSmoothScroll="#faq" class="header-action__link font-montserrat">FAQ</a>
            </div>

            <ui-button
                [elementID]="'signup'"
                [elementName]="'signup'"
                [elementLabel]="'Sign up'"
                [elementType]="'secondary'"
            ></ui-button>
        </div>

        <button type="button" class="header-toggle flex-center-center" (click)="toggleOverlayVisible()">
            <span class="material-icons-round">menu</span>
        </button>
    </div>

    <div class="header-overlay flex-column" [@expandCollapse]="isOverlayVisible ? 'expanded' : 'collapsed'">
        <div class="header-overlay__actions flex-column">
            <div class="action">
                <a appSmoothScroll="#home" class="action-link font-montserrat">Home</a>
            </div>

            <div class="action">
                <a appSmoothScroll="#about" class="action-link font-montserrat">About us</a>
            </div>

            <div class="action">
                <a appSmoothScroll="#benefits" class="action-link font-montserrat">Benefits</a>
            </div>

            <div class="action">
                <a appSmoothScroll="#features" class="action-link font-montserrat">Features</a>
            </div>

            <div class="action">
                <a appSmoothScroll="#faq" class="action-link font-montserrat">FAQ</a>
            </div>

            <div class="action-wrapper">
                <ui-button
                    [elementID]="'signup'"
                    [elementName]="'signup'"
                    [elementLabel]="'Sign up'"
                    [elementType]="'secondary'"
                ></ui-button>
            </div>
        </div>
    </div>
</header>