<header class="header">
    <div class="header-container flex-row flex-align-center">
        <!-- Brand -->
        <div class="header-brand flex-row flex-align-center">
            <h1 class="header-brand__title font-bruno-ace-sc">Tonkeeper Battery</h1>
        </div>

        <!-- Actions -->
        <div class="header-actions flex-row flex-align-center">
            <div class="header-action">
                <p class="header-action__link font-montserrat">Home</p>
            </div>

            <div class="header-action">
                <p class="header-action__link font-montserrat">About us</p>
            </div>

            <div class="header-action">
                <p class="header-action__link font-montserrat">Benefits</p>
            </div>

            <div class="header-action">
                <p class="header-action__link font-montserrat">Features</p>
            </div>

            <div class="header-action">
                <p class="header-action__link font-montserrat">Contact</p>
            </div>
        </div>
    </div>
</header>