<footer id="footer" class="footer-wrapper">
    <div class="footer">
        <div class="footer-items flex-row flex-align-center">
            <div class="footer-items__links flex-row">
                <a href="https://tonviewer.com/terms">Terms</a>

                <a href="https://tonviewer.com/privacy">Privacy</a>

                <a href="https://t.me/help_tonkeeper_bot">Report Issue</a>

                <a href="https://tonkeeper.com/">Install Tonkeeper</a>
            </div>

            <div class="footer-items__image">
                <img ngOptimizedImage src="assets/images/other/ton-app.svg" alt="Ton app">
            </div>

            <div class="footer-items__copyright">
                <p>© 2022-2024 Ton Apps Inc</p>
            </div>
        </div>
    </div>
</footer>