<div class="component">
    <button class="button flex-center-center" type="button" aria-label="button"
        [id]="elementID"
        [name]="elementName"
        [disabled]="elementDisable"
        [class.button-primary]="elementType === 'primary'"
        [class.button-secondary]="elementType === 'secondary'"
        [class.button-alternative]="elementType === 'alternative'"
        [style.height]="elementHeight ?? '40px'"
    >
        <span>{{ elementLabel }}</span>

        <ng-container *ngIf="elementIconPath">
            <img class="button-icon" [src]="elementIconPath" alt="Button Icon">
        </ng-container>
    </button>
</div>