// Colors
$colorBlack: rgba(0, 0, 0, 1);
$colorWhite: rgba(255, 255, 255, 1);

$colorDark1: rgba(5, 5, 5, 1);
$colorDark2: rgba(10, 10, 10, 1);
$colorDark3: rgba(20, 20, 20, 1);
$colorDark4: rgba(32, 32, 32, 1);

$colorGrey1: rgba(75, 75, 75, 1);
$colorGrey2: rgba(100, 100, 100, 1);
$colorGrey3: rgba(125, 125, 125, 1);
$colorGrey4: rgba(150, 150, 150, 1);
$colorGrey5: rgba(175, 175, 175, 1);
$colorGrey6: rgba(200, 200, 200, 1);

$primaryColor: rgba(41, 217, 59, 1);
$secondaryColor: rgba(25, 249, 195, 1);

// Titles
$titleLarge: 80px;
$titleBig: 64px;
$titleMedium: 48px;
$titleSmall: 32px;
$titleShort: 24px;

// Paragraph
$paragraphLarge: 20px;
$paragraphBig: 18px;
$paragraphMedium: 16px;
$paragraphSmall: 14px;
$paragraphShort: 12px;

// Transitions
$transitionShort: all 0.2s;
$transitionMedium: all 0.3s;
$transitionLong: all 0.4s;