// Colors
$colorBlack: rgba(0, 0, 0, 1);
$colorWhite: rgba(255, 255, 255, 1);

$colorDark1: rgba(5, 5, 5, 1);
$colorDark2: rgba(10, 10, 10, 1);
$colorDark3: rgba(20, 20, 20, 1);
$colorDark4: rgba(32, 32, 32, 1);

$primaryColor: rgba(41, 217, 59, 1);
$secondaryColor: rgba(25, 249, 195, 1);

// Transitions
$transitionShort: all 0.2s;
$transitionMedium: all 0.3s;
$transitionLong: all 0.4s;