<section id="features" class="features-wrapper">
    <div class="features flex-column">
        <header class="features-header">
            <h3 class="features-header__title font-bruno-ace-sc">Features</h3>
        </header>

        <div class="features-container flex-column">
            <div class="features-items__wrapper flex-row">
                <div class="features-item flex-column">
                    <div class="features-item__title">
                        <h4 class="font-bruno-ace-sc">Gas-Free Transactions</h4>
                    </div>

                    <div class="features-item__description">
                        <p class="font-montserrat">Say goodbye to gas fees! With Tonkeeper Battery, you can perform transactions without the need for TONs. The battery automatically covers all blockchain fees, making your crypto experience smoother and more cost-effective.</p>
                    </div>

                    <div class="features-item__button">
                        <button type="button" class="flex-center-center">
                            <p>Find out more</p>
                            
                            <span class="material-icons-round">east</span>
                        </button>
                    </div>
                </div>

                <div class="border-vertical"></div>

                <div class="features-item flex-column">
                    <div class="features-item__title">
                        <h4 class="font-bruno-ace-sc">Multi-Token Support</h4>
                    </div>

                    <div class="features-item__description">
                        <p class="font-montserrat">Tonkeeper Battery supports a wide range of tokens, including stablecoins, NFTs, and other cryptocurrencies. This flexibility allows you to manage and transact with various digital assets effortlessly, all in one place.</p>
                    </div>

                    <div class="features-item__button">
                        <button type="button" class="flex-center-center">
                            <p>Find out more</p>
                            
                            <span class="material-icons-round">east</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="features-items__border flex-row">
                <div class="border-horizontal"></div>

                <div class="circle-background"></div>

                <div class="border-horizontal"></div>
            </div>

            <div class="features-items__wrapper flex-row">
                <div class="features-item flex-column">
                    <div class="features-item__title">
                        <h4 class="font-bruno-ace-sc">Simple Top-Up Process</h4>
                    </div>

                    <div class="features-item__description">
                        <p class="font-montserrat">Charging your Tonkeeper Battery is a breeze. You can easily top up your battery using in-app payments on iOS or by sending TONs or stablecoins to the special address battery.ton. This straightforward process ensures that you are always ready for your next transaction.</p>
                    </div>

                    <div class="features-item__button">
                        <button type="button" class="flex-center-center">
                            <p>Find out more</p>
                            
                            <span class="material-icons-round">east</span>
                        </button>
                    </div>
                </div>

                <div class="border-vertical"></div>

                <div class="features-item flex-column">
                    <div class="features-item__title">
                        <h4 class="font-bruno-ace-sc">Real-Time Charge Monitoring</h4>
                    </div>

                    <div class="features-item__description">
                        <p class="font-montserrat">Keep track of your battery status in real-time. The Tonkeeper app provides a clear and detailed view of your battery charges and usage, so you always know how many charges are available and can plan your transactions accordingly.</p>
                    </div>

                    <div class="features-item__button">
                        <button type="button" class="flex-center-center">
                            <p>Find out more</p>
                            
                            <span class="material-icons-round">east</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>