<main class="wrapper">
    <div class="noise">
        <div class="container">
            <!-- Header -->
            <app-header></app-header>
    
            <!-- Hero-section -->
            <app-hero-section></app-hero-section>

            <!-- About us -->
            <app-about></app-about>

            <!-- Benefits -->
            <app-benefits></app-benefits>

            <!-- Features -->
            <app-features></app-features>

            <!-- FAQ -->
            <app-faq></app-faq>

            <!-- Footer -->
            <app-footer></app-footer>
        </div>
    </div>
</main>